<form>
    <div class="form-group">
        <label for="taskTitle">Task Titel</label>
        <input autofocus type="text" class="form-control" id="taskTitle" placeholder="Titel des Aufgabe">
    </div>
    <div class="form-group">
        <label for="taskDescription">Aufgabe Beschreiben</label>
        <textarea id="taskDescription" class="form-control" rows="3" placeholder="Anforderungen"></textarea>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Hat diese aufgabe eine hohe Priorität?
            </label>
    </div>
</form>
