@media screen and (min-width: 360px) {
    #container {
        width: 80% !important;
    }
}
@media screen and (max-width: 360px) {
    #container {
        width: 100% !important;
    }
}

* {margin: 0}

.db {display: block}
.dn {display: none}
.pointer {cursor: pointer;}

hr {
    border: 0;
    border-bottom: 1px solid #777777;
    margin-bottom: 15px;
    clear: left;
}

#app h1 {
    padding: 5px;
    cursor: pointer;
    float: left;
}

.todoBox {
    border: 1px solid #777777;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
}

.todoTaskDescription {
    padding: 5px;
    padding-top: 0;
    display: none;
}

.todoAktion {
    float: right;
    margin: 5px 5px 0 0;
}

.todoAktion > div {
    float: left;
    height: 16px;
    width: 16px;
    text-indent: -10000px;
    margin-right: 5px;
}

.todoImportant {
    background-image: url("../img/icons.png");
    background-position: right bottom;
    background-repeat: no-repeat;
}

.todoImportant:hover {
    background-image: url("../img/icons.png");
    background-position: right top;
    background-repeat: no-repeat;
    cursor: pointer;
}

.todoDone {
    background-image: url("../img/icons.png");
    background-position: left bottom;
    background-repeat: no-repeat;
}

.todoDone:hover {
    background-image: url("../img/icons.png");
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
}

.todoClose {
    background-image: url("../img/icons.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}

.todoClose:hover {
    background-image: url("../img/icons.png");
    background-position: center top;
    background-repeat: no-repeat;
    cursor: pointer;
}

.importantChecked {
    background-color: rgb(236,155,29);
}

.doneChecked {
    background-color: rgb(96,112,27);
}

.doneChecked h1 {
    color: #fff;
}

.closeChecked {
    background-color: lightgray;
}

.todobox-placeholder {
    float: left;
    height: 110px;
    border: 1px #adadad dashed;
    margin-bottom: 20px;
}
.ui-sortable-handle {
    float: left;
    width: 100%;
    z-index: 20;
    cursor: move;
}
