.task {

  .panel-heading {
    cursor: pointer;

    .panel-title {
      display: inline-block;
    }

    .icons {

      i {
        font-size: 20px;
        margin-left: 5px;
        cursor: pointer;

        &.glyphicon-repeat {

          &:hover {
            transform: rotate(90deg);
          }

          transition: all 0.5s ease-out;
        }
      }

      #deleteTaskFinal {
        font-size: 18px;
      }
    }
  }
}
