body {
  background-color: whitesmoke;
}
body .loader {
  background-image: url("../img/loader.gif");
  background-position: center top 13%;
  background-repeat: no-repeat;
}
.task .panel-heading {
  cursor: pointer;
}
.task .panel-heading .panel-title {
  display: inline-block;
}
.task .panel-heading .icons i {
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}
.task .panel-heading .icons i.glyphicon-repeat {
  transition: all 0.5s ease-out;
}
.task .panel-heading .icons i.glyphicon-repeat:hover {
  transform: rotate(90deg);
}
.task .panel-heading .icons #deleteTaskFinal {
  font-size: 18px;
}
