@import "style.css";

* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: grey url(../img/bg-11-full.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#container {
    margin: 5em auto;
    width: 2000px;
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.25);

    font: 14px/1.5 'Lato', sans-serif;
    border-radius: .5em;
}

#container > header {
    border: thin solid rgb(77,77,77);
    padding: .5em 1em;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
#container > header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 2;
}

#container > #app {
    position: relative;
    height: 460px;
    overflow: scroll;
    padding: 1em;
    border-left: thin solid rgb(77,77,77);
    border-right: thin solid rgb(77,77,77);
    background: rgba(255,255,255,0.5);
    background-size: cover;
}

#container > footer {
    border: thin solid rgb(77,77,77);
    padding: .5em 1em;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 2;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-bottom-right-radius: .5em;
    border-bottom-left-radius: .5em;
}
